
dashboard/assets/global/plugins/*
dashboard/assets/app/obj/twilio-php-master/*
dashboard/assets/admin/layout/img/*
dashboard/assets/admin/pages/media/*
dashboard/assets/frontend/*
dashboard/assets/global/img/*
.idea/*
