
BAKUP/*
dashboard/assets/app/upload/*
dashboard/assets/frontend/*
dashboard/assets/global/plugins/*
dashboard/assets/app/obj/twilio-php-master/*
assets/global/img/*
dashboard/assets/global/img/*
dashboard/assets/admin/layout/img/*
dashboard/assets/admin/pages/media/*
.idea/*
